[2019-03-15 12:01] msaraiva opened #1 "Validate options"

[2019-03-15 12:03] msaraiva opened #2 "Backoff when trying to reconnect"
Borrow implementation from `db_connection`

[2019-03-15 12:13] msaraiva opened #3 "Graceful shutdown"
* Implement `Producer.prepare_for_draining` to ensure no more messages will be received
  * Change the terminator
  * Test all messages are processed before shutdown

[2019-03-15 12:13] msaraiva opened #4 "Docs"

[2019-03-18 17:41] msaraiva opened #5 "Use a shared connection among Broadway producers"
Currently, each Broadway producer opens and monitors it's own connection. This has the advantage of keeping producers completely independent from each other, each one maintaining its own state. However, RabbitMQ's [documentation](https://www.cloudamqp.com/blog/2017-12-29-part1-rabbitmq-best-practice.html) states that:

So ideally, I believe we should have a separated process to maintain the connec

[2019-03-18 18:08] msaraiva opened #6 "Handle duplicated messages after connection lost"
If the connection is lost after the message has been successfully processed but before been acknowledged, there's no way to acknowledge the message anymore since the acknowledgement is bound to the channel that has delivered the message. The [documentation](https://www.rabbitmq.com/channels.html#basics) states that:

That means messages that were processed but not acknowledged will be requeued and

[2019-03-18 19:34] sescobb27 commented on #5
Hi, at Erlang Solutions we have been working on a connection pooling strategy for RabbitMQ called [ExRabbitPool](https://github.com/esl/ex_rabbit_pool) which handles the case you are pointing to, we have a pool of connections for distributing the load across multiple RabbitMQ connections, each connection has its own pool of channels which we link to them so we handle crashes by spawning a new chan

[2019-03-19 10:19] bryanhuntesl opened #7 "missing license section in the readme"
License

Copyright 2019 Plataformatec

Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRA

[2019-03-19 10:22] #7 closed

[2019-03-19 11:17] luos commented on #6
Hi,

The redelivered flag provides you the information that the message was sent out at least once, but it doesn't provide you if it was actually processed. If you are having distributed consumers it may be harder to agree on what was actually processed than processing the message again, if that makes sense. You can put a unique id into each message to keep track of the message and record if the p

[2019-03-19 14:19] msaraiva commented on #6
Hi @luos!

Thanks! That was very helpful. It looks like handling duplicated messages will add a lot of complexity to Broadway, especially due to the possibility that the message can be redelivered to another distributed consumer. So I believe we should keep this out of Broadway's scope. However, I think we should provide a way to allow the user to implement his own solution when necessary. One ide

[2019-03-19 14:30] msaraiva commented on #5
Hi @sescobb27 !

Thanks for the helpful information! I'll definitely take a look at `ExRabbitPool`. The pool idea sounds interesting but since Broadway producers are already a pool by themselves, it would be nice if we don't have a pool (broadway producers) calling another pool. I'll take a closer look at `ExRabbitPool` code and see if I can get some insights from it.

Thanks again!

[2019-03-19 14:40] sescobb27 commented on #5
Hi @msaraiva sure, perfect, let me know if you need something, we are willing to help, the pooling strategy is not required tho, it is not an application, is just a library, so if you need to only use the `RabbitConnection` module without the pooling it will also work and is also really well tested, if not, we can help you implement this feature on Broadway.

[2019-03-20 14:41] josevalim commented on #6
Thanks @luos!

@msaraiva I think for now we can leave this issue open and we will work on it once we have more use cases + feedback.

[2019-03-22 12:06] #2 closed

[2019-03-22 19:18] msaraiva opened #10 "Stop receiving messages if there's no consumer/demand"
If a producer restarts during shutdown, it might receive messages even though there's no more consumers subscribed.

[2019-04-01 14:28] #3 closed

[2019-04-02 19:53] #1 closed

[2019-04-02 19:54] msaraiva commented on #4
Closed by #12

[2019-04-02 19:54] #4 closed

[2019-04-04 09:09] narrowtux opened #13 "Support for queue bindings"
I've had the experience that when we weren't setting up queue bindings before starting to consume the queue, the RabbitMQ broker would cease to route messages correctly.

We've since moved to excessively declaring every detail of the queues and exchanges, including the bindings, and the problems with routing have disappeared.

I think it should be possible to either define a list of bindings to th

[2019-04-04 13:17] msaraiva commented on #13
Hi @narrowtux, thanks for reporting this issue. I have a couple of questions:

  * Is this problem reported somewhere you know so I can get more details? Is it related to the erlang amqp client? It would be great to get more context before discussing any changes to the API.
  * Does this happens only when sharing the same connection/channel to publish and consume messages?
  * I'm still not sure i

[2019-04-04 13:29] narrowtux commented on #13
The problem was hard to reproduce on other machines, and this was a relatively simple fix that works well.

To give more details about what we were doing:

We have a hierarchy of folders and this hierarchy is reflected in rabbitmq using one exchange per folder which subscribes to each child-folder-exchange.

At first, we only set up the exchanges and the bindings when we created new folders, but t

[2019-04-04 15:13] msaraiva commented on #13
@narrowtux thanks for the detailed information.

Ok. But does it use the same connection to publish and consume? If so, this could be related. I believe it's recommended to use separate connections for publishing and consuming.

@josevalim, @sescobb27, I'd love to hear your thoughts on this one.

[2019-04-04 15:32] sescobb27 commented on #13
hi @msaraiva and @narrowtux yes, is recommended to have a separate connection for both consuming and publishing messages to rabbitmq (e.g having 1 for producers and 1 for consumers as described here https://www.cloudamqp.com/blog/2018-01-19-part4-rabbitmq-13-common-errors.html) then, you can use the producers connection for setting up the queues for you

[2019-04-04 15:38] sescobb27 commented on #13
side note: creating queues automatically has its own advantages and disadvantages, for example what we have done in the past is having a GenServer with `:transient` and `:ignore` to setup the queues for us once, see https://github.com/esl/ex_rabbit_pool/blob/master/lib/worker/setup_queue.ex , but it only works with durable queues, because if you use non_durable queues, and there is a network parti

[2019-04-04 18:49] msaraiva commented on #13
@sescobb27 thanks! That was helpful.

Due to the fact that the connections/channels created by `ExRabbitPool` can also be used for publishing,  I can see why you need something like `ExRabbitPool.Worker.SetupQueue` to set up the queues and bindings on startup. However, broadway doesn't share any connection and only consumes messages.

@narrowtux, yeah, I see what you mean. Maybe we shouldn't suppl

[2019-04-04 18:51] josevalim commented on #13
I am OK with not declaring for now until a use case appears.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-04-04 19:05] sescobb27 commented on #13
@msaraiva yeah exactly, I agree that in the context of Broadway i would let it crash if the queue isn't already there, we have the `SetupQueue` stuff only for users convenience so is optional (users need to include that setup queue in their supervision tree and pass configuration to it e.g `ExRabbitPool.Worker.SetupQueue.start_link({pool_id, queues_config})`)

[2019-04-04 19:25] msaraiva commented on #13
Great! Let's remove it.

[2019-04-05 11:26] #13 closed

[2019-04-11 17:51] msaraiva opened #16 "Add a :requeue option"
Possible values:

  * :always
  * :never
  * :unless_redelivered

[2019-04-12 14:14] #16 closed

[2019-05-17 19:05] silviurosu opened #20 "AmqpClient should accept connection also in URI format"
BroadwayRabbitMQ.AmqpClient validates connection params and accepts only a keyword list: https://github.com/plataformatec/broadway_rabbitmq/blob/3a7c7a68811dbcf723d8bc805e22a7eca27934ce/lib/broadway_rabbitmq/amqp_client.ex#L115

But AMPQ.Connection.open accepts also a binary for the url: https://hexdocs.pm/amqp/1.1.1/AMQP.Connection.html#open/1 in the form of "amqp://user:pass@server/db".
I can no

[2019-05-17 19:10] josevalim commented on #20
Thanks for the report, duplicate of #18. :)

[2019-05-17 19:10] #20 closed

[2019-05-21 01:03] lackac opened #21 "`qos: [prefetch_count: 0]` doesn't work"
The docs state (emphasis mine):

However, setting `prefetch_count` to `0` currently doesn't work, because it causes the `buffer_size` to be set to `0` as well, which prevents GenStage from starting up.

I think when it is set to `0`, `buffer_size` should be set to a reasonably high value, or better yet, allow it to be configured.

[2019-05-21 07:12] josevalim commented on #21
Good catch. If prefetch_size is 0, we shouldn't touch buffer_size at all, which will default to 10_000, and also allow users to customize it. WDYT? PR please?

[2019-05-21 07:59] lackac commented on #21
@josevalim sounds good, I'll get to it then. 🙂

[2019-06-06 09:06] lackac commented on #21
I am now getting to this. @josevalim, would you prefer customisation limited to `buffer_size` or a more general approach where users can override any `GenStage` producer options like this:

[code]

I can see how the two in the example could be useful, but the other two options (`:demand`, `:dispatcher`) are less likely to be used as they would mess with the internals.

If we're going with the sele

[2019-06-06 09:09] josevalim commented on #21
I would keep them merged for now. Here is what I would do:

1. if prefetch_count is not 0, we keep the behaviour from today
2. if prefetch_count is 0, then we aks the user to explicitly set at leasts the buffer_size too

WDYT?

[2019-06-06 12:31] lackac commented on #21
Sounds good.

[2019-06-06 14:41] #21 closed

[2019-06-18 19:11] isaacsanders opened #25 "An unhandled case clause"
Library version 0.3.0
erlang 21.3.6
elixir 1.8.1

[code]

An unknown host currently causes an exception in the Producer code.

I would expect this code to bubble up the error to my application code.

[2019-06-18 19:17] josevalim commented on #25
@isaacsanders is the producer being restarted?

[2019-06-18 19:38] isaacsanders commented on #25
It is.

[2019-06-18 19:39] isaacsanders commented on #25
It's not that big of a problem, and because this is AFAIK rather nascent, I don't mind this just being a wontfix.

[2019-06-18 19:45] josevalim commented on #25
Ok, so it is behaving as expected. :) You can alos conffigure the max_restarts / max_shutdown if you want a more abrupt shutdown.

[2019-06-18 19:45] #25 closed

[2019-06-18 19:46] josevalim commented on #25
Btw, the alterrnative here is to fail to connect on init, but thjis means a small hiccup will forbid you from sstarting your app.

[2019-06-25 07:59] Ciboulette opened #26 "Passing a :client option to producers"
Hello guys,

I would like to use **broadway_rabbitmq**, because I think that it's a great package but I would also be able to create my queue directly from my application and also being able to setup few things before consuming it.

Why is not possible to implement a `client` by using `BroadwayRabbitMQ.RabbitmqClient ` behaviour and call it in the `broadway.start_link/2`

[code]

By reading the co

[2019-06-25 12:02] msaraiva commented on #26
Hi @Ciboulette!

The `:client` option for the `BroadwayRabbitMQ.Producer` is private and it only exists so we can replace the client by a fake one during tests. This happens because unlike `BroadwaySQS.Producer`, which is client agnostic, the `BroadwayRabbitMQ.Producer` was designed to work with [amqp](https://github.com/pma/amqp) and it can only handle messages from that client.

If you need to i

[2019-06-25 16:00] Ciboulette commented on #26
Ok thanks @msaraiva I guess it should be feasible ;)

[2019-06-25 16:00] #26 closed

[2019-07-01 11:24] whatyouhide opened #27 "Deal with the broker sending a basic_cancel"
Today, the RabbitMQ producer here stops if it receives a `basic_cancel` from the broker: https://github.com/plataformatec/broadway_rabbitmq/blob/1ba40e62f079ad2277d7ef6b253872f31065fb78/lib/broadway_rabbitmq/producer.ex#L154-L157

After speaking with @josevalim, it seems that the supervisor will restart the producer and all will proceed. We have two alternatives to improve the current situation:

[2019-07-01 18:19] msaraiva commented on #27
Hi @whatyouhide!

Yes, it's time to get rid of this TODO and treat `:basic_cancel` properly. I believe we should go with option 2 and handle the reconnection internally using the existing backoff mechanism. I'll take a look at it.

Thanks for open this issue.

[2019-07-02 07:49] whatyouhide commented on #27
No problem @msaraiva :). Let me know if I can help in any way.

[2019-07-15 09:01] josevalim commented on #6
Btw, I think this is no longer relevant now that we metadata. With metadata, we can expose the redelivered flag to users and then they can act accordingly, isn't this correct?

[2019-07-15 09:02] josevalim commented on #27
@whatyouhide we are focused on Broadway Kafka for now, so if you want to send a PR, it would be very appreciated. :)

[2019-07-15 09:08] josevalim opened #29 "Improve RabbitMQ docs"
We need to:

1. Mention the official guide at the top, as the guide is a quick getting started and not a complete reference ([see SQS](https://github.com/plataformatec/broadway_sqs/blob/2be2e779f443fd121b3a73438bfa3b1a3cef7aa2/lib/broadway_sqs/producer.ex#L10-L11))

2. Have a section on Acknowledgements. Say explicitly what we ack and what we don't ack. We can move the note about requeue to inside

[2019-07-15 12:30] josevalim commented on #29
When talking about metadata, you could explain how the metadata is used to control retries.

We can also include an example of how to programatically start a queue.

[2019-07-23 11:15] #27 closed

[2019-07-28 09:55] whatyouhide commented on #5
Hey @msaraiva, I've been taking a look at this. I think the ideal strategy would be to have a small pool of connections (to improve resilience in case some connections go down and to improve TCP throughput), each maintaining a few channels open. Each Broadway producer should be tied to a channel. For example, if I want a RabbitMQ producer with 50 stages, I could have 50 channels (one per producer)

[2019-07-28 13:08] josevalim commented on #5
We want to avoid shutting down producers as much as possible, so if no state gets corrupted, we should simply reconnect.

[2019-07-29 13:39] msaraiva commented on #5
I wonder if it's worth making the supervision tree more complicated to save a few MB in memory. As far as I can remember, the RabbitMQ documentation states that after you hit around 50 number of concurrent connections/channels you stop getting any further improvement. So we're talking about 5MB. In my tests, this number is even lower (around 20). So I believe it's an acceptable tradeoff. Maybe we

[2019-07-29 15:34] whatyouhide commented on #5
I think the problem here might be that we can't use a single connection for all of the producer stages (because of scalability + reliability) but at the same time, I could easily spawn 100 producer stages but 100 respective RabbitMQ TCP connections might be a bit much. Channels kind of mediate that. I'm fine with one connection per producer stage though, maybe it's just a matter of good docs :)

[2019-08-06 09:19] lynfogeek opened #32 "Release version with Broadway 0.4.0 and update readme"
It would be great if you could provide an updated release from broadway_rabbitmq which depends on the newest [broadway]( https://github.com/platamatec/broadway) version.

Also, while the current version of broadway_rabbitmq is 0.3.0, there are no [github release](https://github.com/plataformatec/broadway_rabbitmq/releases) for it and the readme suggests version `~> 0.1.0` as dependency.

[2019-08-06 09:23] wojtekmach commented on #32
We're planning to release v0.4.0 this week. In the meantime I updated the README pointing to 0.3.0 and pushed the tag, good catches!

[2019-08-06 09:24] lynfogeek commented on #32
Awesome, thanks!

[2019-08-06 09:24] #32 closed

[2019-08-17 05:01] wanderanimrod opened #35 "Should producers automatically create exchanges?"
Thanks for the great work on this producer. Quick question:

The AMQP library on which this producer is based provides the [`AMQP.Exchange.declare/4`](https://hexdocs.pm/amqp/1.1.1/AMQP.Exchange.html#declare/4) function to declare exchanges. Calling this function creates an exchange if it doesn't exist or does nothing if the exchange exists.

I am trying to follow the docs to create a producer tha

[2019-08-17 08:00] josevalim commented on #35
Hi @wanderanimrod! We added support for declare on more recent releases: https://github.com/plataformatec/broadway_rabbitmq/pull/31/files#diff-602fa8f82d43a51608a9ccfce65e4ccdR40

[2019-08-17 08:00] #35 closed

[2019-08-17 10:25] whatyouhide commented on #35
@wanderanimrod the `:declare` and `:bindings` options that were added don't take care of creating the exchange as well. However, this is by design: a `BroadwayRabbitMQ.Producer` is a **RabbitMQ consumer**, so the API it needs is queues to consume from and bindings so that messages get routed to those queues. The exchange is usually a concern of the publisher. However, nothing stops you from declar

[2019-08-17 16:48] wanderanimrod commented on #35
Thank you @josevalim and @whatyouhide . I'll take care of the exchange declaration outside the broadway pipeline.

[2019-08-23 20:06] whatyouhide opened #36 "Providing multiple URLs for connections"
Right now, a BroadwayRabbitMQ producer can only connect to a single RabbitMQ node. Some SaaS platforms provide multiple nodes and only guarantee high uptime and a subset of the nodes, not all of them. How can we solve this problem in BroadwayRabbitMQ? For example, a solution could be allowing to pass a function to `:connection` that returns a URL (and could just choose at random in a list). This i

[2019-08-23 21:24] josevalim commented on #36
If we provide multiple connections, we have two options: all producers subscribe to all connections (and then the question is how do we make sure different connections distribute the load evenly across producers) OR we do it round-robin: each producers takes a different connection, cycling if we have more producers than connections, but we require `producers >= connections`. Thoughts?

[2019-08-23 21:36] whatyouhide commented on #36
@josevalim we can have different strategies. I was thinking more about a round robin or random strategy, where each producer connects to one connection regardless of how many connections are available or which strategy to use.

I don't think this is on the table because right now each producer represents a direct connection to RabbitMQ and I'd much rather it stayed like this.

I think that if you

[2019-08-23 21:37] josevalim commented on #36
I am totally ok with making the connection/url a function and let people decide their strategy.

[2019-08-23 21:38] josevalim commented on #36
However, maybe the function should receive the index, which is the index of the current producer, in case you want to do a fair balancing instead of random.

And to be clear, when I said all producers subscribe to all connections, I mean that each producer would open up a connection to multiple URLs (i.e. each producer has multiple connections, but none of the shared).

[2019-08-23 21:39] whatyouhide commented on #36
@josevalim oh the index idea is perfect. Solves everything we need and enables for round robin.

I think that's overkill. If you want to be connected to many RabbitMQ nodes, just have multiple producers, no?

[2019-08-23 21:40] josevalim commented on #36
Good point. PR then please? :)

[2019-08-23 21:41] whatyouhide commented on #36
Yep, definitely PR! <3

[2019-08-30 15:57] whatyouhide opened #37 "Ack at the start of the pipeline"
Right now, Broadway acknowledges messages at the end of the pipeline. This is good if you are using an "at least once" delivery model, where your messages are idempotent and can be redelivered to a consumer many times. However, it's problematic in an "at most once" delivery model where you want to avoid processing a message twice. In those cases, the common pattern is to ack a message as soon as i

[2019-09-01 16:19] whatyouhide commented on #37
@josevalim okay, let me get it right so I can help with the implementation. You can really do one of three things if you want to ack messages:

  * have `no_ack` set to `true`, meaning that RabbitMQ will consider the message acked once it believes it has been delivered to a consumer. I believe we probably want to support this option.
  * ack at any point of the pipeline: when the message arrives,

[2019-09-01 16:29] josevalim commented on #37
Right, the idea is that we will have two configs (ack | nack) but those values will be copied as default values to the acknowledge data. You will be able to change those values on a message on the fly at any moment. My suggestions for values for ack/nack were just suggestions, I am not familiar with the best names for RabbitMQ, so whatever you propose.

This needs to be a Broadway feature, I would

[2019-09-01 16:30] whatyouhide commented on #37
@josevalim sounds good. Ping me tomorrow (Monday) or the day after and we can talk about this :)

[2019-09-11 17:38] whatyouhide opened #40 "Implement the configure/3 acker callback"
The `configure/3` callback was introduced in https://github.com/plataformatec/broadway/pull/109. We need to implement it for the RabbitMQ producer.

@josevalim what's the plan for implementing it until we require the new version of Broadway that supports this? Just look at the callbacks exported by `Broadway.Acknowledger`?

[2019-09-11 17:38] whatyouhide commented on #37
Closing this since we implemented `ack_immediately` (https://github.com/plataformatec/broadway/pull/108) and `configure_ack` (https://github.com/plataformatec/broadway/pull/109) in Broadway. I've opened #40 to track implementation of the `configure/3` callback in the RabbitMQ producer.

[2019-09-11 17:38] #37 closed

[2019-09-11 20:04] josevalim commented on #40
Implement it using Broadway master. Then we will ship a new broadway release and we can require that.

[2019-09-22 08:46] whatyouhide commented on #36
This is going to be solved by passing a function that takes the Broadway topology index and returns connection options. We just need to wait for https://github.com/plataformatec/broadway/pull/113 to be merged into Broadway and then we'll be able to implement this feature.

[2019-09-22 16:49] #36 closed

[2019-09-28 10:33] collegeimprovements opened #44 "Ease amqp dep"
Would it be possible to ease `amqp` dep from `1.1` to `1.3` or `~> 1` ?

[2019-09-28 10:41] josevalim commented on #44
Can you please outline why you are stuck on an earlier version and you can’t update? Thanks!

[2019-09-29 11:19] collegeimprovements commented on #44
I'm using [lapin](https://hex.pm/packages/lapin) library and was trying `broadway_rabbitmq`.
The `lapin` library expects `amqp ~> 1.2`. Hence there was a clash between two packages.

[2019-09-29 12:08] josevalim commented on #44
Those are actually compatible as ~> 1.2 runs 1.2, 1.3, 1.4 and so on. So can you please provide more information on what is happening? Are you seeing an error? What is the error?

[2019-09-30 04:43] collegeimprovements commented on #44
Sorry, my bad. After running `mix deps.clean --all` && `mix deps.get` it worked.

[2019-09-30 04:43] #44 closed

[2019-10-03 06:14] ankopainting opened #45 "Allow for multiple rabbit queues"
This is a feature request.

My use case is I have multiple rabbitmq queues across multiple rabbitmq instances.

I want to transform the data coming in, and publish it to elasticsearch in batches using the bulk api; https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html

The challenge is, Broadway is moving to a model where it is limited to one producer.  So that means I'll

[2019-10-03 06:23] whatyouhide commented on #45
FWIW, this is very useful for "sharding" queues as well, since RabbitMQ advises to have smaller queues. Broadway either lets you have many consumers connected to a single queue, or many consumers connected to a queue each (if you autodeclare the queue with `queue: ""`).

[2019-10-03 09:03] josevalim commented on #45
@whatyouhide i wonder if we should generalize your url/connection patch and allow it to returns a different queue too. This way you can have sharing or fault tolerance in the same API. We can complement the docs with more examples. WDYT?

[2019-10-03 09:05] whatyouhide commented on #45
@josevalim or, we can generalize to make the whole options a function? I'm good with both things, but yeah this is easy enough to do if we make `queue: fn index -> ... end`

[2019-10-03 10:31] josevalim commented on #45
We cannot make the whole options a function because some options may be handled by GenStage. One option is to have (merge_options: fun -> ... end), which we would call and merge into. WDYT?

[2019-10-03 12:47] whatyouhide commented on #45
@josevalim hrm, `merge_options` could solve the `:connection` option as well as long as we do the merging as the first thing and *then* validate the options. Do you wanna go ahead with that route? I'm good both ways.

[2019-10-03 12:57] josevalim commented on #45
Yup, let’s go this route then!

[2019-10-04 10:22] #45 closed

[2019-10-12 06:13] ankopainting commented on #45
Just wanted to thank you guys for turning this around so quickly!

It took me a little time to fully grok the solution, but for anyone reading this ticket here is an example;

[code]

[2019-10-12 06:59] josevalim commented on #45
Awesome. I would only use `Enum.fetch!` instead of `Enum.at` so it raises if you give it less queues than stages.

[2019-10-13 04:40] ankopainting commented on #45
Great tip, thanks

[2019-11-22 08:14] laszloesl commented on #6
What about adding some option called `delivery_method`? With values `:at_most_once`, `:at_least_once`. In case someone doesn't want to or doesn't know how to use metadata.

[2020-02-18 20:40] josevalim commented on #5
I think we should close this as now we have functionality about custom opts per producer. We could introduce a separate producer that shares it, but it is definitely not the focus ATM.

[2020-02-18 20:40] #5 closed

[2020-02-18 20:41] #6 closed

[2020-02-20 10:00] whatyouhide opened #57 "Add API to setup RabbitMQ topology on producer connect"
We (at work) often have the necessity of defining complex RabbitMQ topologies of exchanges and queues. RabbitMQ is pretty clear on the pattern here: declare everything you need every time you connect since declaring is idempotent. We also have a hard requirement of trying to connect to multiple RabbitMQ URLs until one connection succeeds.

The code that we currently have to do things like declare

[2020-02-20 14:57] josevalim commented on #57
I would honestly prefer Option #1. Maybe call it `after_connect` to mirror DBConnection?

[2020-02-20 15:19] whatyouhide commented on #57
If we go with #1, let's absolutely call it `after_connect`, awesome suggestion. Personally I'm more inclined to go with #2 though even if I didn't express preference (not avoid pushing the needle 😄). #2 is more declarative plus you don't have to deal with failure manually since we can deal with that in the options. I'd go with `:declare_exchanges` and with "Option 2" in the exchange-to-exchange bi

[2020-02-20 15:40] josevalim commented on #57
I am not sure if #1 would be used for other cases but at the same time I am not sure if #2 would cover all cases. What if the exchange is coming from an environemnt variable? Now we have to make it a MFA and etc. What if there are other topologies? I think at some point we need to say "it is in your hands now" and it is an arbitrary line but it seems starting with the base case is a safer bet here

[2020-02-21 13:05] whatyouhide commented on #57
@josevalim you have a point and the thing that is bringing me over the line anyways is that we can always add support for the declarative way in the future if we wanted to. I'll make a PR for this.

[2020-03-16 21:38] #57 closed

[2020-04-28 07:11] hassox opened #60 "Pass in an established connection"
Hi there... Wondering if there's a way to pass in an already established connection to use for creating channels. (Probably please excuse my ignorance)

When I bump up the concurrency it makes a new connection for each producer rather than creating a new channel on an existing connection. I'm getting close to maxing out my connections and wondering if there's a way to pass in an MFA to get an esta

[2020-04-28 08:07] whatyouhide commented on #60
This is similar to https://github.com/dashbitco/broadway_rabbitmq/issues/5. We could allow passing an already established connection but it would require significant changes to the architecture here, because right now the producer manages disconnections and reconnections and generally the whole lifecycle of opening the connection and channel.

Also, Broadway is most often started in supervision tr

[2020-04-28 08:42] josevalim commented on #60
Hi @hassox!

Our biggest concern with sharing connections is how to reason about failures. If we are going to do sharing, I would probably still prefer to have Broadway itself starting the pool, rather than accepting external connections.

Also, when bumping the concurrency, are you sure you have to bump the number of producers drastically? I would expect the processors to be the bottleneck. :)

[2020-04-28 14:50] hassox commented on #60
Hey @josevalim

Fair. Is there anyway that we can setup a pool for them? Tbh I'm a little confused about how the flow works. I have a large number of processors spun up atm but I'm not seeing it move as quickly as I thought it would. There are 3 numbers that I _think_ are at play

1. qos -> prefetch_count
2. producer concurrency
3. processors concurrency

I guess what I'm not clear about with thes

[2020-04-28 15:14] josevalim commented on #60
Look at max_demand. By default we send 10 items to each processor. So if you have a prefetch_count of 5, it is likely that all 5 are going to the same processor. But even if you set `max_demand: 1`, so you send only a single item to each processor, you will have 5 * 2 items in flux at once, which means you will never get all 100 processors busy.

So you need to increase the `prefetch_count` and re

[2020-04-28 16:18] hassox commented on #60
Thankyou!

So just so I'm clear this would work out?

[code]

Would it wait until it had 100 to fetch or will it anything up to 100 that is available?

Thanks for taking the time to explain this mate.

[2020-04-28 16:36] josevalim commented on #60
As soon as things arrive it starts sending them down. IRC, prefetch_count is about how many items in flights, not how many items to get before anything starts.

[2020-08-04 21:57] ceolinrenato commented on #29
I started a pull request for the metadata session. It still needs lots of improvement tough #67

[2020-09-24 14:53] nathanl opened #74 "Proposal: require users to specify `:on_failure`"
As I updated the docs to show in https://github.com/dashbitco/broadway_rabbitmq/pull/73, `:reject_and_requeue` can cause an infinite retry loop if the message is unprocessable. This happened to us in production, as my colleague @shamil614 figured out.

I would like to suggest a (breaking) change which could prevent this problem.

Rather than defaulting to `:reject_and_requeue`, the user could be r

[2020-10-05 10:23] whatyouhide commented on #74
Closed by #75.

[2020-10-05 10:23] #74 closed

[2020-10-22 23:54] sleipnir opened #77 "Questions about supported versions of the AMQP protocol"
Hi guys, first I would like to thank you for this excellent library.

In my company we have many services that connect to a broker called ActiveMQ Artemis. This broker among other types of protocol supports version 1.0 of the AMQP protocol. What I would like to know is that it would be possible to use this library to consume messages from that Broker. I know that the versions of the AMQP protocol

[2020-10-23 00:15] josevalim commented on #77
We use the AMQP library which doesn't support 1.0 at the moment, unfortunately: https://hexdocs.pm/amqp/readme.html

[2020-10-23 00:15] #77 closed

[2020-10-23 00:29] sleipnir commented on #77
Thanks

[2020-12-02 20:34] whatyouhide commented on #29
Addressed 1. in https://github.com/dashbitco/broadway_rabbitmq/commit/60477a371ae9bbe14278dd21be8b073be862d5a0

[2020-12-02 20:38] whatyouhide commented on #10
@msaraiva can you expand on this? I want to tackle it. Do we have a plan on what to do to fix this?

[2020-12-03 14:50] msaraiva commented on #10
@whatyouhide I'm not sure if that's an issue anymore. I'll have to take a closer look at the code to refresh my mind :)

[2020-12-03 15:10] josevalim commented on #10
The issue is that we will continue buffering messages from upstream, even if the rest of the Broadway pipeline is slow. So this was to discuss a mechanism where, if consumers are too slow, we tell broadway to stop sending. Although i think the current behaviour may be fine, because iirc there is a limit you can configure?

[2020-12-03 16:34] whatyouhide commented on #10
@josevalim with the prefetch count + Rabbit not sending messages if you don't ack messages, if consumers are slow we won't really keep getting messages. So I think this is a non-issue?

[2020-12-03 16:57] #10 closed

[2020-12-06 09:05] #29 closed

[2021-01-12 20:58] ono opened #89 "AMQP 2.0"
Hi there. I am a co-maintainer of [amqp](https://github.com/pma/amqp) library. I am currently preparing a major version release for the library.

Since broadway_rabbitmq seems to be the most popular library that uses amqp, I'd like to get your feedback before releasing the 2.0.0.

As you can see [the release notes](https://github.com/pma/amqp/wiki/2.0-Release-Notes), there are couple breaking chan

[2021-01-18 09:35] whatyouhide commented on #89
@ono we're good with switching to the `:name` being an option instead of a parameter. In AMQP 2.0, will we have `Connection.open/2` at all? I’m trying to figure out what is the best way of checking whether we should pass the name as an option or as a parameter.

[2021-01-18 11:05] ono commented on #89
AMQP 2.0 will support `Connection.open/2` but it takes only connection string(binary) as a first parameter and options (keyword) as a second parameter.

You can replace [the function call](https://github.com/dashbitco/broadway_rabbitmq/blob/master/lib/broadway_rabbitmq/amqp_client.ex#L233) with a private function like below:

[code]

Then you can use `open_connection(config.connection, name)` inst

[2021-01-20 13:19] ono commented on #89
Hi Andrea,

We are going to drop Connection.open change from 2.0 release. It's not the important change at this timing or much hassle to maintain the current format along with a new format. I will open another PR or issue after 2.0 release is done.

Thanks!

[2021-01-20 13:19] #89 closed

[2021-02-24 21:01] nathanl opened #93 "Multiple producers is an anti-pattern, right?"
In [the documentation example](https://github.com/dashbitco/broadway_rabbitmq/blob/344461b1db847b2c2f1ef377cf66ad38b306ed36/lib/broadway_rabbitmq/producer.ex#L102), multiple producers are used.

Isn't that always a bad idea for RabbitMQ (and any other queue-like situation where a Broadway producer does nothing but pull from a finite set of items)? It seems to me that you'd always want a producer `

[2021-02-24 21:06] josevalim commented on #93
I am not sure I would call it an anti-pattern but 5 is definitely too much and I think starting with 1 will be good enough for most.

[2021-02-24 21:08] josevalim commented on #93
In your example, I would make sure that RabbitMQ has enough messages to send to all processors, especially because I would expect all of them to be filled since each message takes 1s to process.

[2021-02-24 21:08] nathanl commented on #93
Can you explain how multiple producers would ever be advantageous if they are pulling from a queue?

[2021-02-24 21:18] nathanl commented on #93
Each producer tries to meet the demand of each processor, right? So in my demo, if there are 100 messages in a queue, 100 processors, and 10 producers, each producer will take 10 of those messages off the queue, and all 100 will go to the first 10 processors, while the other processors get none.

Fewer producers makes the problem smaller, with optimal behavior at 1 producer.

I can't see the purpo

[2021-02-24 21:25] nathanl commented on #93
I'd love to show you my demo or have you run it, if you have time. :)

[2021-02-24 21:26] josevalim commented on #93
The list of processors are randomized by producer - so there is no such thing as first producers. :)

Broadway.RabbitMQ also allows you parameterize over multiple connections and multiple queues, so you can have multiple producers, but each connected to a different server/queue. So there are advanced use cases where you want multiple producers.

Still, in your example, you should see all of your p

[2021-02-24 21:26] josevalim commented on #93
Realistically speaking I don't have time, sorry. :)

[2021-02-24 21:30] josevalim commented on #93
But to be a 100% clear, in your example you end-up with worse distribution using two producers, yes. Especially because the bottleneck is the processors. I just stating that calling it an anti-pattern is too strong given the variety of use cases.

[2021-02-24 21:34] #93 closed

[2021-02-25 06:16] josevalim commented on #93
Right, processors will get producers * max_demand messages, which is why it is important to tune those parameters.

Also note that if you have a really large machine (think 32 cores), a producer may not be able to produce enough for all processors.

so once again , everything you said make sense, but I wouldn’t go as far as to call it an anti-pattern (and I know from experience from people running

[2021-02-25 06:28] josevalim commented on #93
Btw, if you want to add some more stern warnings: “start with 1 and only increase if you can measure improvements” I will gladly accept that, but probably wouldn’t call it an anti-pattern. We are hoping to make the Broadway dashboard finally public and that should help.

[2021-02-25 14:35] nathanl commented on #93
@josevalim Thank you for the gracious response, and sorry if I came across as cranky initially. That wasn't my intent. Also thanks for the additional context. I'll make a documentation PR along the lines you suggested.

[2021-02-25 14:43] nathanl commented on #93
I believe you, but this surprises me in the context of RabbitMQ, since the producer can prefetch a large number of messages at once, and the producer seems unlikely to crash given that it's doing no work except fetching messages.

[2021-03-16 00:52] lpender opened #95 "Working dead letter example"
Hi,

I'm happy to be working on an academic project involving criminal justice reform using Elixir and Broadway RabbitMQ!

This started out as an issue but as I did more and more research, it is more of an example.

However it is sort of an issue, in that it's not totally clear how dead-letter configuration works in the docs, and I think it would be helpful to add an example.

Here is the code--I

[2021-03-16 06:23] josevalim commented on #95
Please do send a PR! Note you don't need the rescue though, Broadway will automatically mark it as failed if it raises. :)

[2021-03-31 18:32] fcevado opened #96 "producers keep failing with declare: [no_wait: true]"
when i set it to `declare: [no_wait: true]` the producer keeps failing:
[code]
elixir: `1.11.3`
erlang `23.2.7`

I belive the producer needs to wait the proper `declare` operation to finish before trying to bind the queue to the exchange.

[2021-03-31 18:42] josevalim commented on #96
What do you think we should do? Can we even support no_wait: true then?

[2021-03-31 19:14] fcevado commented on #96
I belive it can be an issue related to amqp library, according to this [pr](https://github.com/pma/amqp/pull/176) the option was changed from `:no_wait` to `:nowait` and was not supported properly. I gonna try and see the behavior directly with the amqp library. I'll provide more information when i'm done testing.

[2021-03-31 19:27] fcevado commented on #60
@josevalim i'm trying to come up with a proper solution to scale up the consumption rate in case of messages piling up on a queue. Possible ways to handle it that i see is:
- increase the amount of consumers(producers from broadway perspective)
- increase the processors concurrency

broadway doesn't allow me to increase the concurrency of processors after the pipeline started. my solution to this

[2021-03-31 19:50] fcevado opened #97 ":message_count is not honoured as metadata option."
Current documentation shows `:message_count` as an available option for metadata of a message. I belive this is not possible to achieve with current implementation. message_count is only available as a metadata when doing basic get(not recommended by the way), current implementation uses basic consume that doesn't expose message_count as a metadata.
Possible see solutions:
- just remove it from th

[2021-03-31 20:39] josevalim commented on #97
Let’s update the docs to remove it for now and we add it back if someone ever needs it. :)

[2021-04-01 05:25] #97 closed

[2021-04-01 16:33] ono commented on #96
`nowait` (or `no_wait` - AMQP 2.x supports both for the parameter option) means the operation is async. Since you want to make sure the queue is declared before subscribing, I don't recommend you to enable the option there.

Yes, there was a bug on AMQP 1.x with `no_wait` and it has been fixed on 2.x. However, regardless the bug, I don't think you should use the option with Broadway.

[2021-04-01 16:58] fcevado commented on #96
@josevalim given that feedback from @ono I guess the option could be removed. I want to try more stuff(like setting `:nowait` to declare and to bind) and see how the producer behaves.

[2021-04-01 17:05] josevalim commented on #96
I think we just pass all options through so this should be simply a matter of updating the docs with the best practices. Can you please send a PR?

[2021-04-08 08:05] #95 closed

[2021-07-08 06:45] DmitryKK opened #102 "Crash supervisor after killing Broadway process"
Hi, I have application supervisor which starts broadway process:

[code]
and my process:

[code]

When I kill my process via `Process.exit(:kill)` then my supervisor crashes totally:

[code]

As I got it, the linked process was not killed. How to solve this problem?

mix.exs:

[code]

[2021-07-08 06:57] josevalim commented on #102
The linked process will eventually terminate. Since it is trapping exits, it will trigger the clean up and once the clean up is done it terminates. Please use Broadway.stop for a clean shutdown instead of outright killing it.

[2021-07-08 06:57] #102 closed

[2021-09-02 08:41] D4no0 opened #105 "econnrefused when deploying elixir project with broadway"
versions:
elixir 1.12
OTP 24.0
broadway_rabbitmq :0.7
broadway: 1.0
amqp: 2.1.2

Suppose we have the following amqp configuration:
[code]
With broadway producer configuration:
[code]
By default, when run with: `iex -S mix`, everything works as expected, no errors and side effects.

When creating a release however, after starting it, in log keeps appearing the error:

I can confirm that **there is*

[2021-09-02 09:25] josevalim commented on #105
What happens if you specify your parameters directly in the Broadway connection?

[code]

[2021-09-02 10:36] D4no0 commented on #105
It seems to work, and to confirm the theory, now when I run:
[code]
I get the error:
[code]

These interactions are quite weird, I think it should be documented about the default AMQP configuration interaction with broadway.

[2021-09-03 06:42] whatyouhide commented on #105
Oh interesting 👀 I had no idea the amqp library has some kind of global configuration there? 🤔

[2021-09-03 07:19] #105 closed

[2021-09-24 09:52] D4no0 opened #106 "ACK timeout kills connection without getting restarted"
versions:
broadway: 1.0.0
bradway_rabbitmq: 0.7.0
amqp: 2.1
elixir: 1.12
otp: 24.0.5

I have some long-running tasks that sometime may time-out the `consumer_timeout` from rabbitmq with message:

The expected behavior would be to reestablish a new connection, kill the timed-out processors and rabbitmq to redeliver messages.

The current behavior is that the GenServer is killed and broadway can no

[2021-09-24 10:35] josevalim commented on #106
Thanks for the report. The log you are seeing immediately causes the client to reconnect, so i am assuming there is something more at play here: https://github.com/dashbitco/broadway_rabbitmq/blob/master/lib/broadway_rabbitmq/producer.ex#L527-L536

[2021-09-27 08:06] D4no0 commented on #106
The error after that is related to a genserver call, with the genserver down:
07:57:38.686 [error] ** (exit) exited in: :gen_server.call(#PID<0.6829.0>, {:call, {:"basic.ack", 6, false}, :none, #PID<0.2649.0>}, 70000)
    ** (EXIT) no process: the process is not alive or there's no process currently associated with the given name, possibly because its application isn't started

[2021-10-11 12:27] BasileNouvellet opened #107 "Ability to retrieve the AMQP Channel used by the Producer"
First of all, thank you for this amazing library!

What do you think about adding the ability to **retrieve the AMQP Channel used by the Producer**?

I'm aware that the Channel is already available in the message metadata, but I'm talking here about having a dedicated method to query the Channel (from the Producer state) **outside of a message consumption**.

I see several use-cases for this:

1.

[2021-10-12 08:36] BasileNouvellet commented on #107
2. A **RPC Client** would need to publish a RPC message with the Channel first, then consume the response from the reply-queue. In my understanding, the Channel in the message metadata only allows building a **RPC Server**: consuming the request from the queue first, then publishing the response in the reply-queue.

My implementation of `RequestHandler` is still early, not in production yet, thus

[2021-11-22 23:17] codeadict opened #108 "Any plan for new version release?"
The new `ampq 3.0.0` change is a very nice one that helps with dropping lager and OTP24 compatibility. Is there any plan to make a release soon with that change. It seems life changing enough to have a release :)

[2021-11-25 14:53] josevalim commented on #108
Done!

[2021-11-25 14:53] #108 closed

[2021-11-25 16:14] codeadict commented on #108
Thanks a bunch!

On Thu, Nov 25, 2021, 9:53 AM José Valim ***@***.***> wrote:

[2022-01-11 23:14] cliftonmcintosh opened #110 "Allow use of nimble_options 0.4.0 in broadway_rabbitmq"
Would it be possible for us to allow nimble_options 0.4.0 for this library?

[2022-01-11 23:28] josevalim commented on #110
For sure! Can you send a PR that relax the requirement to `~> 0.3.5 or ~> 0.4.0`?

[2022-01-12 07:18] whatyouhide commented on #110
Closing in favor of the PR #111 🙃 Thanks @cliftonmcintosh! 💟

[2022-01-12 07:18] #110 closed

[2022-01-12 07:22] whatyouhide commented on #107
@BasileNouvellet closing this as is seems like we found an avenue to explore for now 😉

[2022-01-12 07:22] #107 closed

[2022-02-25 22:30] tielur opened #114 "Retrieving additional information from AMQP.Queue.declare"
I have a requirement where I need to get access to the rabbitmq queue size. The AMQP client returns this information when using [declare/3](https://github.com/pma/amqp/blob/v3.1.0/lib/amqp/queue.ex#L39) which is currently being ignored by broadway_rabbitmq [here](https://github.com/dashbitco/broadway_rabbitmq/blob/main/lib/broadway_rabbitmq/amqp_client.ex#L288).

Is this something that could be ad

[2022-02-25 23:02] josevalim commented on #114
Interesting. Is `declare/3` the only way to get this information? Can't you get it yourself afterwards?

[2022-02-25 23:05] tielur commented on #114
After looking at more documentation it does seem like I can. The :amqp_channel is exposed in the metadata in which I can call methods to get what I need like [message_count/2](https://hexdocs.pm/amqp/1.3.0/AMQP.Queue.html#message_count/2)

[2022-02-25 23:05] #114 closed

[2022-03-16 23:44] starbelly opened #115 "AMQP 1.0 support"
Background :

At work we have a need to use AMQP 1.0 to consume messages from Azure Service Bus and IBM MQ via AMQP 1.0. We wanted to use broadway, so we made an offbroadway amqp10 plugin. The plugin is targeted for AMQP 1.0 in general vs just rabbitmq or a particular service.

We plan on open sourcing this, but before we do it was suggested by @wojtekmach to open an issue for discussion.
An AMQP

[2022-03-17 15:09] josevalim commented on #115
I think we could ship with two different producers here... but it depends if they will actually share a reasonable amount of code. If not, then I would go with separate repos. :)

[2022-03-18 08:46] whatyouhide commented on #115
Yes same thoughts as @josevalim really. If they share a lot I'd be okay to put it here, but I’m really fine with `broadway_amqp1` or something like that. RabbitMQ might support AMQP 1.0 via plugins, but it's historically (and currently) still running on AMQP 0.9, so I’m ok with broadway_rabbitmq not supporting AMQP 1.0.

[2022-03-19 17:05] starbelly commented on #115
Sounds good and makes sense to me .Sounds like I should close this issue now, possibly open another on broadway repo? Not sure, let me know how you want to proceed and handle the logistics on this one.

[2022-03-24 08:40] whatyouhide commented on #115
@starbelly yes, I'll go ahead and close this issue as there is nothing to do right now in broadway_rabbitmq itself.

I’m not sure what the issue in Broadway would be though? 🙃 In any case, if there's something to do there, yes go ahead and open.

My take is that you can open-source the AMQP 1.0 producer and later on we can figure it out if we want to make it officially supported by the Broadway te

[2022-03-24 08:40] #115 closed

[2022-03-24 15:14] starbelly commented on #115
@whatyouhide Got it, was a bit of confusion my end 👍

[2022-06-08 18:18] fcevado opened #116 "Allow usage of connection/channel pool"
this relates with the discussion on #60 but i'm creating a new issue to address just the points related to handling the resource that the producer uses to connect/communicate with rabbitmq.
just stating some things about rabbitmq and how `AMQP` lib model stuff:
- to properly consume mesages a producer just needs a amqp channel not a  connection.
- a `%AMQP.Channel{}` has a pid for the channel that

[2022-06-08 18:25] josevalim commented on #116
If you can encapsulate all of the operations, mentioned above, through the channel, then I don't see an issue with this approach. Although note that you will also need an option to ask this lib to not start its own pool (or we change the option name to be `custom_pool` to make it clearer).

[2022-06-08 19:20] fcevado commented on #116
@josevalim I'll work on that, just to define the default behavior.
The precedence is in favor of `connection` option so, if `connection` is nil and `custom_pool` is present, the producer try to use the `custom_pool`.

[2022-06-08 19:32] #96 closed

[2022-06-09 06:33] whatyouhide commented on #116
@fcevado are AMQP channels linked to the connection they belong to? #lazyweb

In any case, you'll also have to handle retries when checking out a channel out of an existing pool of connections, and the AMQP lib makes it quite error-prone to do operations without crashing since you'll need to `catch` left and right 😄

[2022-06-09 11:58] fcevado commented on #116
@whatyouhide they are linked, but the `connection` trap exit for known reasons. if the reason a `channel` dies is caused by amqp operations the `connection` won't die, but if you send a exit signal to the `channel` pid, it will die.
anyway, this wouldn't be responsability of broadway_rabbitmq. I guess the point here is that the broadway producer just needs a channel to do it's job. if that channel